{
  "actors": [
    {
      "id": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "text": "Técnico Agência",
      "type": "istar.Actor",
      "x": 1302,
      "y": 263,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "55aee5d1-9402-425a-845c-e33d0a617b5e",
      "text": "Sistema Agência",
      "type": "istar.Actor",
      "x": 1269,
      "y": 848,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "text": "Técnico Exército",
      "type": "istar.Actor",
      "x": 548,
      "y": 470,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "904ee62f-dde6-454e-82e2-95f5302951b6",
      "text": "Sistema Exército",
      "type": "istar.Actor",
      "x": 549,
      "y": 825,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "d464f044-9c7d-4911-9c88-aa9f71eed74c",
      "text": "Agente de Inovação",
      "type": "istar.Actor",
      "x": 705,
      "y": 336,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "455cd87d-9408-485b-96e0-354963e7c256",
      "text": "Agente de Inovação",
      "type": "istar.Actor",
      "x": 1070,
      "y": 267,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "58a7984c-d375-4c3a-b900-1e334f93632c",
      "text": "Agente de Inovação",
      "type": "istar.Actor",
      "x": 739,
      "y": 932,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "93e4b588-138f-4594-a721-18a75c58f8a3",
      "text": "Agente de Inovação",
      "type": "istar.Actor",
      "x": 1457,
      "y": 842,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "text": "MOTIRÕ",
      "type": "istar.Actor",
      "x": 1156,
      "y": 668,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    },
    {
      "id": "7eb494ea-5817-4cad-a0fb-5dd5c5856d27",
      "text": "Agente de Impacto",
      "type": "istar.Actor",
      "x": 1443,
      "y": 670,
      "customProperties": {
        "Description": ""
      },
      "nodes": []
    }
  ],
  "orphans": [],
  "dependencies": [
    {
      "id": "c02e0b3b-c31c-40c4-b227-6b87c8dc3ebb",
      "text": "Consome Informações",
      "type": "istar.Goal",
      "x": 522,
      "y": 676,
      "customProperties": {
        "Description": ""
      },
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "904ee62f-dde6-454e-82e2-95f5302951b6"
    },
    {
      "id": "a08b1f01-f919-4dba-a1d2-0e3cb38b13fc",
      "text": "Notificar",
      "type": "istar.Resource",
      "x": 1332,
      "y": 499,
      "customProperties": {
        "Description": ""
      },
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "cdad4baa-a9cd-49d6-b18f-56472d13e988"
    },
    {
      "id": "caea39c1-3fc4-45c8-858c-09afbbd481bb",
      "text": "Disponibiliza Sistemas",
      "type": "istar.Goal",
      "x": 1132,
      "y": 416,
      "customProperties": {
        "Description": ""
      },
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "b1bacd3f-50eb-455c-93cb-b0382f70c6ce",
      "text": "Participa da Operação",
      "type": "istar.Goal",
      "x": 1012,
      "y": 421,
      "customProperties": {
        "Description": ""
      },
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "94f681ff-e431-482b-afa2-14a060da936d",
      "text": "Contrato",
      "type": "istar.Resource",
      "x": 1445,
      "y": 566,
      "customProperties": {
        "Description": ""
      },
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "6ad12410-e9eb-45a2-af8c-ffc89bc6d113",
      "text": "Planeja Operação",
      "type": "istar.Goal",
      "x": 894,
      "y": 432,
      "customProperties": {
        "Description": ""
      },
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "b4cabf0d-dc1c-4447-89e0-ce93409ebfa0",
      "text": "Define Integrantes",
      "type": "istar.Goal",
      "x": 845,
      "y": 489,
      "customProperties": {
        "Description": ""
      },
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "507ac29c-a013-4a6a-8321-1f09bbc10b92",
      "text": "Identificar Informações",
      "type": "istar.Goal",
      "x": 813,
      "y": 551,
      "customProperties": {
        "Description": ""
      },
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "5dca12ff-ed44-42fc-aae9-2f9aefb9809a",
      "text": "Define Workflow",
      "type": "istar.Goal",
      "x": 793,
      "y": 622,
      "customProperties": {
        "Description": ""
      },
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "17b7646d-aac9-4636-b34b-2a712068f58e",
      "text": "Coordena",
      "type": "istar.Goal",
      "x": 772,
      "y": 687,
      "customProperties": {
        "Description": ""
      },
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "c612204e-edde-4ec5-aca9-f3995f3b0aba"
    },
    {
      "id": "51dc3e94-1121-464a-8a5e-827daefef1a2",
      "text": "Coordena",
      "type": "istar.Goal",
      "x": 1233,
      "y": 445,
      "customProperties": {
        "Description": ""
      },
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "cdad4baa-a9cd-49d6-b18f-56472d13e988"
    },
    {
      "id": "2a10895f-6639-430a-baf6-735c411aaaa2",
      "text": "Informa Relacionamentos",
      "type": "istar.Goal",
      "x": 711,
      "y": 760,
      "customProperties": {
        "Description": ""
      },
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "c612204e-edde-4ec5-aca9-f3995f3b0aba"
    },
    {
      "id": "6077df32-621d-47a9-9c4e-1557142e8322",
      "text": "Troca Informações",
      "type": "istar.Goal",
      "x": 750,
      "y": 830,
      "customProperties": {
        "Description": ""
      },
      "source": "904ee62f-dde6-454e-82e2-95f5302951b6",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "f3ca872d-8b85-4980-888b-e9a382d16306",
      "text": "Troca Informações",
      "type": "istar.Goal",
      "x": 1009,
      "y": 851,
      "customProperties": {
        "Description": ""
      },
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "55aee5d1-9402-425a-845c-e33d0a617b5e"
    }
  ],
  "links": [
    {
      "id": "14075b5f-1499-453e-89fc-a39fd280d1e1",
      "type": "istar.DependencyLink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "c02e0b3b-c31c-40c4-b227-6b87c8dc3ebb"
    },
    {
      "id": "df2558c0-8124-4aac-a580-82199ad66ebe",
      "type": "istar.DependencyLink",
      "source": "c02e0b3b-c31c-40c4-b227-6b87c8dc3ebb",
      "target": "904ee62f-dde6-454e-82e2-95f5302951b6"
    },
    {
      "id": "1c7d81c5-cbbb-44a4-9b48-f6d5135a9248",
      "type": "istar.IsALink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "d464f044-9c7d-4911-9c88-aa9f71eed74c"
    },
    {
      "id": "fe6dcf7c-6acd-45d2-bcf0-23ee03a32e4e",
      "type": "istar.IsALink",
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "455cd87d-9408-485b-96e0-354963e7c256"
    },
    {
      "id": "adea9428-624b-4a53-8d12-7ef344c34551",
      "type": "istar.IsALink",
      "source": "904ee62f-dde6-454e-82e2-95f5302951b6",
      "target": "58a7984c-d375-4c3a-b900-1e334f93632c"
    },
    {
      "id": "342eb8fa-1702-4caf-ab18-b4ecdfc1d035",
      "type": "istar.IsALink",
      "source": "55aee5d1-9402-425a-845c-e33d0a617b5e",
      "target": "93e4b588-138f-4594-a721-18a75c58f8a3"
    },
    {
      "id": "4abfa835-32d9-42d5-8c39-69a682a3d031",
      "type": "istar.IsALink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "7eb494ea-5817-4cad-a0fb-5dd5c5856d27"
    },
    {
      "id": "4351088e-eb43-4f23-849f-d25c82f72105",
      "type": "istar.DependencyLink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "a08b1f01-f919-4dba-a1d2-0e3cb38b13fc"
    },
    {
      "id": "889949be-c66f-49de-8f2e-9e0a0ddda6eb",
      "type": "istar.DependencyLink",
      "source": "a08b1f01-f919-4dba-a1d2-0e3cb38b13fc",
      "target": "cdad4baa-a9cd-49d6-b18f-56472d13e988"
    },
    {
      "id": "f4ac4089-7af3-4aac-ba67-862b10b74689",
      "type": "istar.DependencyLink",
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "caea39c1-3fc4-45c8-858c-09afbbd481bb"
    },
    {
      "id": "d3c8613d-844e-4fa5-bec5-d03bdf03ff69",
      "type": "istar.DependencyLink",
      "source": "caea39c1-3fc4-45c8-858c-09afbbd481bb",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "c431bc66-79dd-4f69-93ab-0519464ed792",
      "type": "istar.DependencyLink",
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "b1bacd3f-50eb-455c-93cb-b0382f70c6ce"
    },
    {
      "id": "cb91df4d-4806-4541-81e0-dda4403792fc",
      "type": "istar.DependencyLink",
      "source": "b1bacd3f-50eb-455c-93cb-b0382f70c6ce",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "018926c0-9751-47d4-86d0-f03650122a92",
      "type": "istar.DependencyLink",
      "source": "cdad4baa-a9cd-49d6-b18f-56472d13e988",
      "target": "94f681ff-e431-482b-afa2-14a060da936d"
    },
    {
      "id": "3c411a9e-4584-43bb-b5e8-f7cc284da08e",
      "type": "istar.DependencyLink",
      "source": "94f681ff-e431-482b-afa2-14a060da936d",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "1c082f18-77b3-424e-a627-077e3bbc8f8b",
      "type": "istar.DependencyLink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "6ad12410-e9eb-45a2-af8c-ffc89bc6d113"
    },
    {
      "id": "6822d993-5ab6-4c1b-bfaa-522b6fcc9796",
      "type": "istar.DependencyLink",
      "source": "6ad12410-e9eb-45a2-af8c-ffc89bc6d113",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "3ef693bf-da35-414e-8cb0-7204decf0741",
      "type": "istar.DependencyLink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "b4cabf0d-dc1c-4447-89e0-ce93409ebfa0"
    },
    {
      "id": "328b055c-60c8-4c52-b2c6-3c9040511786",
      "type": "istar.DependencyLink",
      "source": "b4cabf0d-dc1c-4447-89e0-ce93409ebfa0",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "ee0de82d-0ed2-4383-999a-2bd1521afa63",
      "type": "istar.DependencyLink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "507ac29c-a013-4a6a-8321-1f09bbc10b92"
    },
    {
      "id": "da02e751-85db-4485-b01a-787e1e6296a1",
      "type": "istar.DependencyLink",
      "source": "507ac29c-a013-4a6a-8321-1f09bbc10b92",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "c5b6d5c7-dcd3-4aa1-b38e-4683cb974c61",
      "type": "istar.DependencyLink",
      "source": "c612204e-edde-4ec5-aca9-f3995f3b0aba",
      "target": "5dca12ff-ed44-42fc-aae9-2f9aefb9809a"
    },
    {
      "id": "4d6d10e2-5d19-4230-bbaa-3c4c6ab9b7d7",
      "type": "istar.DependencyLink",
      "source": "5dca12ff-ed44-42fc-aae9-2f9aefb9809a",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "eef4073f-9bd9-4d43-ac7d-6ed0439048ad",
      "type": "istar.DependencyLink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "17b7646d-aac9-4636-b34b-2a712068f58e"
    },
    {
      "id": "806a7955-4521-4beb-8ec9-beeca67d8dd6",
      "type": "istar.DependencyLink",
      "source": "17b7646d-aac9-4636-b34b-2a712068f58e",
      "target": "c612204e-edde-4ec5-aca9-f3995f3b0aba"
    },
    {
      "id": "4ea59b60-4da9-4be3-8054-871c9f54436e",
      "type": "istar.DependencyLink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "51dc3e94-1121-464a-8a5e-827daefef1a2"
    },
    {
      "id": "e1cfa7b5-6492-4346-b240-ed07548d344f",
      "type": "istar.DependencyLink",
      "source": "51dc3e94-1121-464a-8a5e-827daefef1a2",
      "target": "cdad4baa-a9cd-49d6-b18f-56472d13e988"
    },
    {
      "id": "8e8cb074-3bc5-44c6-8a56-00b7f124b2e5",
      "type": "istar.DependencyLink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "2a10895f-6639-430a-baf6-735c411aaaa2"
    },
    {
      "id": "054fbfce-5bc4-4dc0-9e53-19d63042d01b",
      "type": "istar.DependencyLink",
      "source": "2a10895f-6639-430a-baf6-735c411aaaa2",
      "target": "c612204e-edde-4ec5-aca9-f3995f3b0aba"
    },
    {
      "id": "b15dde9d-b572-4db0-ac6f-2d36f45482f4",
      "type": "istar.DependencyLink",
      "source": "904ee62f-dde6-454e-82e2-95f5302951b6",
      "target": "6077df32-621d-47a9-9c4e-1557142e8322"
    },
    {
      "id": "8e33848c-356f-47ac-8e7e-93e18b904147",
      "type": "istar.DependencyLink",
      "source": "6077df32-621d-47a9-9c4e-1557142e8322",
      "target": "0632125e-b5ce-45e2-8e1c-9736bb90052e"
    },
    {
      "id": "81677c4e-4c97-4fe4-a88a-9a9eead1a873",
      "type": "istar.DependencyLink",
      "source": "0632125e-b5ce-45e2-8e1c-9736bb90052e",
      "target": "f3ca872d-8b85-4980-888b-e9a382d16306"
    },
    {
      "id": "d8963131-e03d-4ca0-89a4-8262241fb4a0",
      "type": "istar.DependencyLink",
      "source": "f3ca872d-8b85-4980-888b-e9a382d16306",
      "target": "55aee5d1-9402-425a-845c-e33d0a617b5e"
    }
  ],
  "display": {
    "cdad4baa-a9cd-49d6-b18f-56472d13e988": {
      "collapsed": true
    },
    "55aee5d1-9402-425a-845c-e33d0a617b5e": {
      "collapsed": true
    },
    "c612204e-edde-4ec5-aca9-f3995f3b0aba": {
      "collapsed": true
    },
    "904ee62f-dde6-454e-82e2-95f5302951b6": {
      "collapsed": true
    },
    "c02e0b3b-c31c-40c4-b227-6b87c8dc3ebb": {
      "backgroundColor": "#5144FA"
    },
    "d464f044-9c7d-4911-9c88-aa9f71eed74c": {
      "collapsed": true
    },
    "455cd87d-9408-485b-96e0-354963e7c256": {
      "collapsed": true
    },
    "58a7984c-d375-4c3a-b900-1e334f93632c": {
      "collapsed": true
    },
    "93e4b588-138f-4594-a721-18a75c58f8a3": {
      "collapsed": true
    },
    "0632125e-b5ce-45e2-8e1c-9736bb90052e": {
      "collapsed": true
    },
    "7eb494ea-5817-4cad-a0fb-5dd5c5856d27": {
      "collapsed": true
    },
    "a08b1f01-f919-4dba-a1d2-0e3cb38b13fc": {
      "backgroundColor": "#9DDFED"
    },
    "caea39c1-3fc4-45c8-858c-09afbbd481bb": {
      "backgroundColor": "#9194FA"
    },
    "b1bacd3f-50eb-455c-93cb-b0382f70c6ce": {
      "backgroundColor": "#9194FA"
    },
    "94f681ff-e431-482b-afa2-14a060da936d": {
      "backgroundColor": "#9DDFED"
    },
    "6ad12410-e9eb-45a2-af8c-ffc89bc6d113": {
      "backgroundColor": "#9194FA"
    },
    "b4cabf0d-dc1c-4447-89e0-ce93409ebfa0": {
      "backgroundColor": "#9194FA"
    },
    "507ac29c-a013-4a6a-8321-1f09bbc10b92": {
      "backgroundColor": "#9194FA"
    },
    "5dca12ff-ed44-42fc-aae9-2f9aefb9809a": {
      "backgroundColor": "#9194FA"
    },
    "17b7646d-aac9-4636-b34b-2a712068f58e": {
      "backgroundColor": "#5144FA"
    },
    "51dc3e94-1121-464a-8a5e-827daefef1a2": {
      "backgroundColor": "#5144FA"
    },
    "2a10895f-6639-430a-baf6-735c411aaaa2": {
      "backgroundColor": "#5144FA",
      "width": 122.375,
      "height": 29.33332061767578
    },
    "6077df32-621d-47a9-9c4e-1557142e8322": {
      "backgroundColor": "#9194FA"
    },
    "f3ca872d-8b85-4980-888b-e9a382d16306": {
      "backgroundColor": "#5144FA"
    }
  },
  "tool": "pistar.2.0.0",
  "istar": "2.0",
  "saveDate": "Tue, 10 Aug 2021 01:35:47 GMT",
  "diagram": {
    "width": 2000,
    "height": 1361,
    "customProperties": {
      "Description": ""
    }
  }
}